[submodule "ext/libtuntap"]
	path = ext/libtuntap
	url = https://github.com/LaKabane/libtuntap
[submodule "ext/libsocket"]
	path = ext/libsocket
	url = https://github.com/mertemba/libsocket
[submodule "ext/argparse"]
	path = ext/argparse
	url = https://github.com/morrisfranken/argparse
